datasets==1.15.1
matplotlib==3.3.4
numpy==1.19.5
pandas==1.2.1
rouge-score
sentence_transformers
scikit-learn==0.24.1
scipy==1.6.1
spacy==2.3.5
transformers==4.12.3
torch
tqdm
sacrebleu==2.0.0
nltk==3.5
pyter3==0.3
razdel==0.5.0
tabulate
bert-score==0.3.10